@charset "UTF-8";

html {
  font-family: 'Yu Gothic',sans-serif;
}
  
}
body {
  color: #24292e;
}
a {
  text-decoration: none;
  a:hover{
    color: #ff002b;
  a:visited{
    color: #0000ff;
 }
}
  
img {
  max-width: 100%;
}
li {
  list-style: none;
}


<style type="text/css">
body {
   margin: 40px;   /* 外側の余白を40pxにする */
   padding: 0;      /* 内側の余白を消す(念のため) */
}
</style>
