@charset "UTF-8";

html {
  font-family: 'Yu Gothic',sans-serif;
}
  
}
body {
  color: #24292e;
  font-size: 100px;
}
a {
  text-decoration: none;
  a:hover{
    color: #ff002b;
  a:visited{
    color: #0000ff;
 }
}
  
img {
  max-width: 100%;
}
li {
  list-style: none;
}



