html {
  font-size: 62.5%;  /* font-sizeは16pxの62.5%の10px */
  font-family: 'Yu Gothic', sans-serif;
  font-weight: 300;
}

p { 
  font-size: 1.4rem; /* font-size : 14px と同等 */
}

h1 { 
  font-size: 5.6rem; /* font-size: 56px と同等 */
  font-weight: normal;
}

h2 { 
  font-size: 2.8rem; /* font-size: 28px と同等 */
  font-weight: normal;
}

body {
  color: #24292e;
  padding: 20px 20px; /* 左右に20pxの空白を追加 */
  max-width: 1200px;
  margin-top: 10px;
  margin: 0 auto; /* コンテンツを中央に配置するためのマージン */
}

a {
  text-decoration: underline;
}

a:hover {
  color: #ff002b;
}

a:visited {
  color: inherit; /* 親要素の色を継承する */
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

#footer {
    margin: 20px 0px;
}

@media only screen and (max-width: 600px) {
  /* 画面幅が600px以下の場合のスタイル */
  body {
    font-size: 100%; /* スマートフォンなどの小さい画面用のフォントサイズを14px相当に設定 */
  }
}
